{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="email">Email</label>
    <input name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form>
  <a style="text-align: center;" href="{{ url_for('auth.register') }}">don’t have an account? Student Registration</a><br>  
  <a style="text-align: center;" href="{{ url_for('auth.register2') }}">Lecturer Registration</a>
{% endblock %}
