{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" required>
    <label for="phone">Phone</label>
    <input name="phone" id="phone" required>
    <label for="email">Email</label>
    <input name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="role_id">Role</label>
    <select name="role_id" id="role_id" required>
      <option value="">Select Role</option>
      {% for role in roles %}
        <option value="{{ role.id }}">{{ role.name }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Register">
  </form>
{% endblock %}